{% extends 'base.html.twig' %}

{% block title %}Gestion | enregistrement {% endblock %}

{% block body %}
    <section>
        <h1>Gestion | S'enregistrer</h1>

        {{ form_start(registration, {'attr' : {'novalidate' : 'novalidate'}}) }}
            <div>
                <div>
                    {{ form_errors(registration.username) }}
                    <p>{{ form_widget(registration.username) }}</p>
                </div>

                <div>
                    {{ form_errors(registration.password) }}
                    <p>{{ form_widget(registration.password) }}</p>
                </div>

                <button type="submit">S'enregistrer</button>
            </div>
        {{ form_end(registration) }}
    </section>
{% endblock %}